In [1]:
import pandas as pd
import numpy as np
colsTr = ["age","job","marital","education","default","housing","loan","contact","month","day_of_week","duration","campaign","pdays","previous","poutcome","emp.var.rate","cons.price.idx","cons.conf.idx","euribor3m","nr.employed","y"]
colsTs = ["age","job","marital","education","default","housing","loan","contact","month","day_of_week","duration","campaign","pdays","previous","poutcome","emp.var.rate","cons.price.idx","cons.conf.idx","euribor3m","nr.employed"]
categorical_columns = ['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome']

dataSet = '/home/omcscn/PSU_FirstPeriod/ML_DM/ML_Labs/Kaggle/data/train.csv'
df_origine = pd.read_csv(dataSet, sep=';')

In [2]:
#df.dropna()

In [3]:
#df.info()
#df.isnull().values.any()
#pd.isnull(df).any(1).nonzero()[0]

In [4]:
df = df_origine
df.head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no

In [5]:
df['job'] = df['job'].map({'admin.': 0, 'blue-collar':1,'entrepreneur':2,'housemaid': 3, 'management':4,'retired':5,'self-employed':6,'services':7,'student': 8, 'technician':9,'unemployed':10,'unknown': 11}).astype(float)
df['marital'] = df['marital'].map({'divorced': 0, 'married':1,'single':2,'unknown':3}).astype(float)
df['education'] = df['education'].map({'basic.4y': 0, 'basic.6y':1,'basic.9y':2, 'high.school':3,'illiterate':4,'professional.course':5,'university.degree':6,'unknown':7}).astype(float)
df['default'] = df['default'].map({'no': 0, 'yes':1,'unknown':2}).astype(float)
df['housing'] = df['housing'].map({'no': 0, 'yes':1,'unknown':2}).astype(float)
df['loan'] = df['loan'].map({'no': 0, 'yes':1,'unknown':2}).astype(float)
df['contact'] = df['contact'].map({'cellular': 0, 'telephone':1}).astype(float)
df['month'] = df['month'].map({'jan': 0, 'feb':1,'mar':2,'apr':3,'may':4,'jun': 5, 'jul':6,'aug':7,'sep':8,'oct':9,'nov':10,'dec':11}).astype(float)
df['day_of_week'] = df['day_of_week'].map({'mon': 0, 'tue':1,'wed':2,'thu':3,'fri':4}).astype(float)
df['poutcome'] = df['poutcome'].map({'failure': 0, 'nonexistent':1,'success':2}).astype(float)

In [6]:
df.head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,1.0,1.0,2.0,0.0,1.0,0.0,0.0,4.0,4.0,...,2,999,0,1.0,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,7.0,2.0,3.0,0.0,0.0,0.0,1.0,4.0,4.0,...,4,999,0,1.0,1.1,93.994,-36.4,4.855,5191.0,no

In [7]:
df.isnull().values.any()

False

In [8]:
#df = df.fillna('NA')
df_data = df.iloc[:,0:20]
df_target = df.iloc[:,-1]

The Model

In [9]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 100)
scores = cross_val_score(model, df_data, df_target, cv=5)
scores.mean()

0.90196094433595631

In [10]:
myModel = model.fit(df_data, df_target)

In [11]:
Testing

NameError: name 'Testing' is not defined

In [ ]:
testDS = '/home/omcscn/PSU_FirstPeriod/ML_DM/ML_Labs/Kaggle/data/test.csv'
df_test = pd.read_csv(testDS, header=None,names=colsTs, sep=';')

In [ ]:
df_test.head(5)

In [ ]:
df_test['job'] = df_test['job'].map({'admin.': 0, 'blue-collar':1,'entrepreneur':2,'housemaid': 3, 'management':4,'retired':5,'self-employed':6,'services':7,'student': 8, 'technician':9,'unemployed':10,'unknown': 11}).astype(float)
df_test['marital'] = df_test['marital'].map({'divorced': 0, 'married':1,'single':2,'unknown':3}).astype(float)
df_test['education'] = df_test['education'].map({'basic.4y': 0, 'basic.6y':1,'basic.9y':2, 'high.school':3,'illiterate':4,'professional.course':5,'university.degree':6,'unknown':7}).astype(float)
df_test['default'] = df_test['default'].map({'no': 0, 'yes':1,'unknown':2}).astype(float)
df_test['housing'] = df_test['housing'].map({'no': 0, 'yes':1,'unknown':2}).astype(float)
df_test['loan'] = df_test['loan'].map({'no': 0, 'yes':1,'unknown':2}).astype(float)
df_test['contact'] = df_test['contact'].map({'cellular': 0, 'telephone':1}).astype(float)
df_test['month'] = df_test['month'].map({'jan': 0, 'feb':1,'mar':2,'apr':3,'may':4,'jun': 5, 'jul':6,'aug':7,'sep':8,'oct':9,'nov':10,'dec':11}).astype(float)
df_test['day_of_week'] = df_test['day_of_week'].map({'mon': 0, 'tue':1,'wed':2,'thu':3,'fri':4}).astype(float)
df_test['poutcome'] = df_test['poutcome'].map({'failure': 0, 'nonexistent':1,'success':2}).astype(float)

In [ ]:
df_test.head(5)
df_test.shape

In [ ]:
results = model.predict(df_test)
results
#result = np.c_[test_data[:,0].astype(int), output.astype(int)]
#df_result = pd.DataFrame(result[:,0:2], columns=['PassengerId', 'Survived'])

In [ ]:
results.shape

In [ ]:
resultSet = '/home/omcscn/PSU_FirstPeriod/ML_DM/ML_Labs/Kaggle/data/result.csv'
resultfile = open(resultSet, 'w')
line=1
nos=0
resultfile.write("Id,prediction\n")
for l in results:
    if(l == "yes"):
        s = str(line) + ',' + str(1) + "\n"
    else:
        s = str(line) + ',' + str(0) + "\n"
        nos+=1
    resultfile.write(s)
    line+=1
resultfile.close()
print(str(i)+ "\n")
print(nos)